
section{

    background: #587CFD; 
    padding: 10px;
    border-radius: 15px;  width: 100%;
}
table{
   background : #FFFFFF ; padding: 10px 1Opx;
   border-radius: 15px; 
}
th{
   background: #FF6B00;color: #FFFFFF;
}