section {
    padding1: 10px;
    border-image-repeat: 15px;
}

table {
    background: #587CFD;
    border-radius: 15px;
}

table {
    background: #FFFFFF;
    padding: 10px 10px;
    border-radius: 15px;
    width: 130%;
}