<main>
    <section>
        <table class="table container">
      
        <tbody>
            <tr>
                <th>N°</th>
                <th>Libelle tirage</th>
                <th>Date tirages</th>
                <th>Personnes triées</th>
            </tr>

            <tr *ngFor="let liste of uneListes ; index as i">
                <td></td>
                <td> {{liste.id_tirage}}</td>
                <td> 
                   <a href="#" [routerLink]="['/deatilsTirages',liste.id_tirage]">{{liste.libelle_tirage}}</a> 
                </td>
                <td> {{liste.date_tirage}}</td>
                <td> {{liste.nbre_postulant_tirer}}</td>
            </tr>
        </tbody>

    </table>
    </section>
    
</main>
