<main>

    <div class="detailsEntete">
        {{libelleTirage}}------------{{dateLibelle|date}}
    </div>
    <section>
        <!-- <h1>Adama {{uneListes.id_liste}}</h1> -->
        <table class="table container">
      
        <tbody>
            <tr>
                <th>N°</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Numero</th>
            </tr>

            <tr *ngFor="let postulants of unePersonnes | paginate:{itemsPerPage: 10, currentPage:page}; let i =index">
                <td>{{i+1}}</td>
                <td>{{postulants[1]}}</td>  <!-- Affichage du prenom -->
                <td>{{postulants[0]}}</td>  <!-- Affichage de prenom -->
                <td>{{postulants[2]}}</td>   <!--Affichage de Email -->
                <td>{{postulants[3]}}</td>   <!--Affichage du numero -->
            </tr>
        </tbody>

    </table>
    <pagination-controls (pageChange)="page=$event"></pagination-controls>
    </section>
    

</main>
