<main>

    <div class="detailsEntete" class="row" align="center">
        <div class="col-4">{{libelleTirage}}</div>

        <div class="col-4">{{dateLibelle|date}}</div>

        <div [routerLink]="['/details',lister]"
        class="col-4"> <button class="btn btn-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
           </svg>Retour</button> </div>
    </div>
    <section>
        <!-- <h1>Adama {{uneListes.id_liste}}</h1> -->
        <table class="table container">
      
        <tbody>
            <tr>
                <th>N°</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Numero</th>
            </tr>

            <tr *ngFor="let postulants of unePersonnes | paginate:{itemsPerPage: 10, currentPage:page}; let i =index">
                <td>{{i+1}}</td>
                <td>{{postulants[1]}}</td>  <!-- Affichage du prenom -->
                <td>{{postulants[0]}}</td>  <!-- Affichage de prenom -->
                <td>{{postulants[2]}}</td>   <!--Affichage de Email -->
                <td>{{postulants[3]}}</td>   <!--Affichage du numero -->
            </tr>
        </tbody>

    </table>
    <pagination-controls (pageChange)="page=$event"></pagination-controls>
    </section>
    

</main>
